In [6]:
import pandas as pd
import numpy as np
import seaborn as sn

In [39]:
data = pd.read_csv(r"C:\Users\BRAKAY\Desktop\data science\Data_Set.csv",header = 2)
data.head(5)

   Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0     1    24.0      28    10          -15             12
1     2    17.0      32    12          -17             12
2     3    16.0      34    11          -19             12
3     3    16.0      34    11          -19             12
4     4    16.0      33    12          -18             12

In [40]:
data

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0      1    24.0      28    10          -15             12
1      2    17.0      32    12          -17             12
2      3    16.0      34    11          -19             12
3      3    16.0      34    11          -19             12
4      4    16.0      33    12          -18             12
5      5    16.0      30    10          -14             12
6      6    16.0      31    10          -16             12
7      7    19.0      28    14          -14             12
8      8    22.0      29    12          -15              9
9      9    25.0      26    12          -12              8
10    10    26.0      24    14           -8              8
11    11    27.0      20    14           -4              8
12    12    30.0      19    16            0              5
13    13    30.0      19    16            0              4
14    14     NaN      13    17            2              4
15    15    27.0      14    17            3              4
16    16    27.0      16    17            2              6
17    17    28.0      -4    18            0              8
18    18    33.0      26    20           -6              9
19    19    42.0      32    21           -8             10
20    20   120.0      33    21          -12             12
21    21    47.0      32    21          -16             12
22    22    44.0      30    22          -18             12
23    23    36.0      35     !          -19             12
24    24    37.0      36    18          -22             12

In [41]:
data

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0      1    24.0      28    10          -15             12
1      2    17.0      32    12          -17             12
2      3    16.0      34    11          -19             12
3      3    16.0      34    11          -19             12
4      4    16.0      33    12          -18             12
5      5    16.0      30    10          -14             12
6      6    16.0      31    10          -16             12
7      7    19.0      28    14          -14             12
8      8    22.0      29    12          -15              9
9      9    25.0      26    12          -12              8
10    10    26.0      24    14           -8              8
11    11    27.0      20    14           -4              8
12    12    30.0      19    16            0              5
13    13    30.0      19    16            0              4
14    14     NaN      13    17            2              4
15    15    27.0      14    17            3              4
16    16    27.0      16    17            2              6
17    17    28.0      -4    18            0              8
18    18    33.0      26    20           -6              9
19    19    42.0      32    21           -8             10
20    20   120.0      33    21          -12             12
21    21    47.0      32    21          -16             12
22    22    44.0      30    22          -18             12
23    23    36.0      35     !          -19             12
24    24    37.0      36    18          -22             12

In [17]:
data.isnull().sum()

Time             0
E_Plug           1
E_Heat           0
Price            0
Temperature      0
No. Occupants    0
dtype: int64

In [19]:
data.fillna(method = 'ffill',inplace = True)

In [20]:
data

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0      1    24.0      28    10          -15             12
1      2    17.0      32    12          -17             12
2      3    16.0      34    11          -19             12
3      3    16.0      34    11          -19             12
4      4    16.0      33    12          -18             12
5      5    16.0      30    10          -14             12
6      6    16.0      31    10          -16             12
7      7    19.0      28    14          -14             12
8      8    22.0      29    12          -15              9
9      9    25.0      26    12          -12              8
10    10    26.0      24    14           -8              8
11    11    27.0      20    14           -4              8
12    12    30.0      19    16            0              5
13    13    30.0      19    16            0              4
14    14    30.0      13    17            2              4
15    15    27.0      14    17            3              4
16    16    27.0      16    17            2              6
17    17    28.0      -4    18            0              8
18    18    33.0      26    20           -6              9
19    19    42.0      32    21           -8             10
20    20   120.0      33    21          -12             12
21    21    47.0      32    21          -16             12
22    22    44.0      30    22          -18             12
23    23    36.0      35     !          -19             12
24    24    37.0      36    18          -22             12

In [38]:
data

In [35]:
data['Price'] = pd.to_numeric(data['Price'])

TypeError: 'NoneType' object is not subscriptable

In [ ]:
data.shape

In [ ]:
data.drop(['No. Occupants'],axis=1, inplace = True)

In [ ]:
data.drop(2,axis = 0, inplace =True)

In [ ]:
data.head()

In [ ]:
dataset = data.describe()
dataset

In [ ]:
file  = dataset['E_Heat'].min()
file

In [ ]:
dataset['E_Heat'][dataset['E_Heat']==file]

In [ ]:
dataset['E_Heat'].replace(-4,21,inplace = True )

In [ ]:
dataset.cov()

In [ ]:
sn.heatmap(dataset.corr())

In [ ]:
dataset.info()

In [22]:
new_col = pd.read_csv(r"C:\Users\BRAKAY\Desktop\data science\Data_New.csv")
new_col

    P/OffP
0   OffPeak
1   OffPeak
2   OffPeak
3   OffPeak
4   OffPeak
5   OffPeak
6      Peak
7      Peak
8      Peak
9   OffPeak
10  OffPeak
11  OffPeak
12  OffPeak
13  OffPeak
14  OffPeak
15  OffPeak
16     Peak
17     Peak
18     Peak
19     Peak
20     Peak
21  OffPeak
22  OffPeak
23  OffPeak

In [23]:
data_set = pd.concat([data,new_col], axis = 1)

In [24]:
data_set

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants  P/OffP
0      1    24.0      28    10          -15             12  OffPeak
1      2    17.0      32    12          -17             12  OffPeak
2      3    16.0      34    11          -19             12  OffPeak
3      3    16.0      34    11          -19             12  OffPeak
4      4    16.0      33    12          -18             12  OffPeak
5      5    16.0      30    10          -14             12  OffPeak
6      6    16.0      31    10          -16             12     Peak
7      7    19.0      28    14          -14             12     Peak
8      8    22.0      29    12          -15              9     Peak
9      9    25.0      26    12          -12              8  OffPeak
10    10    26.0      24    14           -8              8  OffPeak
11    11    27.0      20    14           -4              8  OffPeak
12    12    30.0      19    16            0              5  OffPeak
13    13    30.0      19    16            0              4  OffPeak
14    14    30.0      13    17            2              4  OffPeak
15    15    27.0      14    17            3              4  OffPeak
16    16    27.0      16    17            2              6     Peak
17    17    28.0      -4    18            0              8     Peak
18    18    33.0      26    20           -6              9     Peak
19    19    42.0      32    21           -8             10     Peak
20    20   120.0      33    21          -12             12     Peak
21    21    47.0      32    21          -16             12  OffPeak
22    22    44.0      30    22          -18             12  OffPeak
23    23    36.0      35     !          -19             12  OffPeak
24    24    37.0      36    18          -22             12      NaN

In [25]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
Time             25 non-null int64
E_Plug           25 non-null float64
E_Heat           25 non-null int64
Price            25 non-null object
Temperature      25 non-null int64
No. Occupants    25 non-null int64
P/OffP           24 non-null object
dtypes: float64(1), int64(4), object(2)
memory usage: 1.5+ KB

In [27]:
data_sets = pd.get_dummies(data_set)
data_sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 18 columns):
Time               25 non-null int64
E_Plug             25 non-null float64
E_Heat             25 non-null int64
Temperature        25 non-null int64
No. Occupants      25 non-null int64
Price_!            25 non-null uint8
Price_10           25 non-null uint8
Price_11           25 non-null uint8
Price_12           25 non-null uint8
Price_14           25 non-null uint8
Price_16           25 non-null uint8
Price_17           25 non-null uint8
Price_18           25 non-null uint8
Price_20           25 non-null uint8
Price_21           25 non-null uint8
Price_22           25 non-null uint8
P/OffP _OffPeak    25 non-null uint8
P/OffP _Peak       25 non-null uint8
dtypes: float64(1), int64(4), uint8(13)
memory usage: 1.4 KB

In [42]:
from sklearn.preprocessing import minmax_scale,normalize

In [43]:
data_set

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants  P/OffP
0      1    24.0      28    10          -15             12  OffPeak
1      2    17.0      32    12          -17             12  OffPeak
2      3    16.0      34    11          -19             12  OffPeak
3      3    16.0      34    11          -19             12  OffPeak
4      4    16.0      33    12          -18             12  OffPeak
5      5    16.0      30    10          -14             12  OffPeak
6      6    16.0      31    10          -16             12     Peak
7      7    19.0      28    14          -14             12     Peak
8      8    22.0      29    12          -15              9     Peak
9      9    25.0      26    12          -12              8  OffPeak
10    10    26.0      24    14           -8              8  OffPeak
11    11    27.0      20    14           -4              8  OffPeak
12    12    30.0      19    16            0              5  OffPeak
13    13    30.0      19    16            0              4  OffPeak
14    14    30.0      13    17            2              4  OffPeak
15    15    27.0      14    17            3              4  OffPeak
16    16    27.0      16    17            2              6     Peak
17    17    28.0      -4    18            0              8     Peak
18    18    33.0      26    20           -6              9     Peak
19    19    42.0      32    21           -8             10     Peak
20    20   120.0      33    21          -12             12     Peak
21    21    47.0      32    21          -16             12  OffPeak
22    22    44.0      30    22          -18             12  OffPeak
23    23    36.0      35     !          -19             12  OffPeak
24    24    37.0      36    18          -22             12      NaN

In [44]:
data_set.replace({'!':21},inplace = True)

In [45]:
data_set

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants  P/OffP
0      1    24.0      28    10          -15             12  OffPeak
1      2    17.0      32    12          -17             12  OffPeak
2      3    16.0      34    11          -19             12  OffPeak
3      3    16.0      34    11          -19             12  OffPeak
4      4    16.0      33    12          -18             12  OffPeak
5      5    16.0      30    10          -14             12  OffPeak
6      6    16.0      31    10          -16             12     Peak
7      7    19.0      28    14          -14             12     Peak
8      8    22.0      29    12          -15              9     Peak
9      9    25.0      26    12          -12              8  OffPeak
10    10    26.0      24    14           -8              8  OffPeak
11    11    27.0      20    14           -4              8  OffPeak
12    12    30.0      19    16            0              5  OffPeak
13    13    30.0      19    16            0              4  OffPeak
14    14    30.0      13    17            2              4  OffPeak
15    15    27.0      14    17            3              4  OffPeak
16    16    27.0      16    17            2              6     Peak
17    17    28.0      -4    18            0              8     Peak
18    18    33.0      26    20           -6              9     Peak
19    19    42.0      32    21           -8             10     Peak
20    20   120.0      33    21          -12             12     Peak
21    21    47.0      32    21          -16             12  OffPeak
22    22    44.0      30    22          -18             12  OffPeak
23    23    36.0      35    21          -19             12  OffPeak
24    24    37.0      36    18          -22             12      NaN

In [46]:
data_set.fillna(method ='ffill',inplace = True)

In [47]:
data_set

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants  P/OffP
0      1    24.0      28    10          -15             12  OffPeak
1      2    17.0      32    12          -17             12  OffPeak
2      3    16.0      34    11          -19             12  OffPeak
3      3    16.0      34    11          -19             12  OffPeak
4      4    16.0      33    12          -18             12  OffPeak
5      5    16.0      30    10          -14             12  OffPeak
6      6    16.0      31    10          -16             12     Peak
7      7    19.0      28    14          -14             12     Peak
8      8    22.0      29    12          -15              9     Peak
9      9    25.0      26    12          -12              8  OffPeak
10    10    26.0      24    14           -8              8  OffPeak
11    11    27.0      20    14           -4              8  OffPeak
12    12    30.0      19    16            0              5  OffPeak
13    13    30.0      19    16            0              4  OffPeak
14    14    30.0      13    17            2              4  OffPeak
15    15    27.0      14    17            3              4  OffPeak
16    16    27.0      16    17            2              6     Peak
17    17    28.0      -4    18            0              8     Peak
18    18    33.0      26    20           -6              9     Peak
19    19    42.0      32    21           -8             10     Peak
20    20   120.0      33    21          -12             12     Peak
21    21    47.0      32    21          -16             12  OffPeak
22    22    44.0      30    22          -18             12  OffPeak
23    23    36.0      35    21          -19             12  OffPeak
24    24    37.0      36    18          -22             12  OffPeak

In [50]:
data_set.drop(['P/OffP'],axis =1, inplace= True)

KeyError: "['P/OffP'] not found in axis"

In [51]:
data

    Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0      1    24.0      28    10          -15             12
1      2    17.0      32    12          -17             12
2      3    16.0      34    11          -19             12
3      3    16.0      34    11          -19             12
4      4    16.0      33    12          -18             12
5      5    16.0      30    10          -14             12
6      6    16.0      31    10          -16             12
7      7    19.0      28    14          -14             12
8      8    22.0      29    12          -15              9
9      9    25.0      26    12          -12              8
10    10    26.0      24    14           -8              8
11    11    27.0      20    14           -4              8
12    12    30.0      19    16            0              5
13    13    30.0      19    16            0              4
14    14     NaN      13    17            2              4
15    15    27.0      14    17            3              4
16    16    27.0      16    17            2              6
17    17    28.0      -4    18            0              8
18    18    33.0      26    20           -6              9
19    19    42.0      32    21           -8             10
20    20   120.0      33    21          -12             12
21    21    47.0      32    21          -16             12
22    22    44.0      30    22          -18             12
23    23    36.0      35     !          -19             12
24    24    37.0      36    18          -22             12

In [52]:
data.replace({'!':21},inplace = True)

In [53]:
data.fillna(method ='ffill',inplace = True)

In [59]:
data = data.drop('No. Occupants',axis =1)

In [60]:
data

    Time  E_Plug  E_Heat Price  Temperature
0      1    24.0      28    10          -15
1      2    17.0      32    12          -17
2      3    16.0      34    11          -19
3      3    16.0      34    11          -19
4      4    16.0      33    12          -18
5      5    16.0      30    10          -14
6      6    16.0      31    10          -16
7      7    19.0      28    14          -14
8      8    22.0      29    12          -15
9      9    25.0      26    12          -12
10    10    26.0      24    14           -8
11    11    27.0      20    14           -4
12    12    30.0      19    16            0
13    13    30.0      19    16            0
14    14    30.0      13    17            2
15    15    27.0      14    17            3
16    16    27.0      16    17            2
17    17    28.0      -4    18            0
18    18    33.0      26    20           -6
19    19    42.0      32    21           -8
20    20   120.0      33    21          -12
21    21    47.0      32    21          -16
22    22    44.0      30    22          -18
23    23    36.0      35    21          -19
24    24    37.0      36    18          -22

##NORMALIZATION OF DATA SETS

In [55]:
# first method, minmax scale
from sklearn.preprocessing import minmax_scale, normalize

In [61]:
datas = minmax_scale(data,feature_range=(0,1))

In [57]:
datas

array([[0.        , 0.07692308, 0.8       , 0.        , 0.28      ,
        1.        ],
       [0.04347826, 0.00961538, 0.9       , 0.16666667, 0.2       ,
        1.        ],
       [0.08695652, 0.        , 0.95      , 0.08333333, 0.12      ,
        1.        ],
       [0.08695652, 0.        , 0.95      , 0.08333333, 0.12      ,
        1.        ],
       [0.13043478, 0.        , 0.925     , 0.16666667, 0.16      ,
        1.        ],
       [0.17391304, 0.        , 0.85      , 0.        , 0.32      ,
        1.        ],
       [0.2173913 , 0.        , 0.875     , 0.        , 0.24      ,
        1.        ],
       [0.26086957, 0.02884615, 0.8       , 0.33333333, 0.32      ,
        1.        ],
       [0.30434783, 0.05769231, 0.825     , 0.16666667, 0.28      ,
        0.625     ],
       [0.34782609, 0.08653846, 0.75      , 0.16666667, 0.4       ,
        0.5       ],
       [0.39130435, 0.09615385, 0.7       , 0.33333333, 0.56      ,
        0.5       ],
       [0.43478261, 0.10576923, 0.6       , 0.33333333, 0.72      ,
        0.5       ],
       [0.47826087, 0.13461538, 0.575     , 0.5       , 0.88      ,
        0.125     ],
       [0.52173913, 0.13461538, 0.575     , 0.5       , 0.88      ,
        0.        ],
       [0.56521739, 0.13461538, 0.425     , 0.58333333, 0.96      ,
        0.        ],
       [0.60869565, 0.10576923, 0.45      , 0.58333333, 1.        ,
        0.        ],
       [0.65217391, 0.10576923, 0.5       , 0.58333333, 0.96      ,
        0.25      ],
       [0.69565217, 0.11538462, 0.        , 0.66666667, 0.88      ,
        0.5       ],
       [0.73913043, 0.16346154, 0.75      , 0.83333333, 0.64      ,
        0.625     ],
       [0.7826087 , 0.25      , 0.9       , 0.91666667, 0.56      ,
        0.75      ],
       [0.82608696, 1.        , 0.925     , 0.91666667, 0.4       ,
        1.        ],
       [0.86956522, 0.29807692, 0.9       , 0.91666667, 0.24      ,
        1.        ],
       [0.91304348, 0.26923077, 0.85      , 1.        , 0.16      ,
        1.        ],
       [0.95652174, 0.19230769, 0.975     , 0.91666667, 0.12      ,
        1.        ],
       [1.        , 0.20192308, 1.        , 0.66666667, 0.        ,
        1.        ]])

In [62]:
#second method is the normalize method 
data1 = normalize(data,norm = 'l2',axis = 0)
data1

array([[ 0.01427261,  0.13011045,  0.20345485,  0.12518596, -0.22761262],
       [ 0.02854523,  0.09216157,  0.23251983,  0.15022315, -0.25796097],
       [ 0.04281784,  0.0867403 ,  0.24705232,  0.13770456, -0.28830932],
       [ 0.04281784,  0.0867403 ,  0.24705232,  0.13770456, -0.28830932],
       [ 0.05709045,  0.0867403 ,  0.23978607,  0.15022315, -0.27313515],
       [ 0.07136306,  0.0867403 ,  0.21798734,  0.12518596, -0.21243845],
       [ 0.08563568,  0.0867403 ,  0.22525358,  0.12518596, -0.2427868 ],
       [ 0.09990829,  0.10300411,  0.20345485,  0.17526035, -0.21243845],
       [ 0.1141809 ,  0.11926791,  0.21072109,  0.15022315, -0.22761262],
       [ 0.12845352,  0.13553172,  0.18892236,  0.15022315, -0.1820901 ],
       [ 0.14272613,  0.14095299,  0.17438987,  0.17526035, -0.1213934 ],
       [ 0.15699874,  0.14637425,  0.14532489,  0.17526035, -0.0606967 ],
       [ 0.17127135,  0.16263806,  0.13805865,  0.20029754,  0.        ],
       [ 0.18554397,  0.16263806,  0.13805865,  0.20029754,  0.        ],
       [ 0.19981658,  0.16263806,  0.09446118,  0.21281613,  0.03034835],
       [ 0.21408919,  0.14637425,  0.10172742,  0.21281613,  0.04552252],
       [ 0.2283618 ,  0.14637425,  0.11625991,  0.21281613,  0.03034835],
       [ 0.24263442,  0.15179552, -0.02906498,  0.22533473,  0.        ],
       [ 0.25690703,  0.17890187,  0.18892236,  0.25037192, -0.09104505],
       [ 0.27117964,  0.22769329,  0.23251983,  0.26289052, -0.1213934 ],
       [ 0.28545226,  0.65055224,  0.23978607,  0.26289052, -0.1820901 ],
       [ 0.29972487,  0.25479963,  0.23251983,  0.26289052, -0.2427868 ],
       [ 0.31399748,  0.23853582,  0.21798734,  0.27540911, -0.27313515],
       [ 0.32827009,  0.19516567,  0.25431856,  0.26289052, -0.28830932],
       [ 0.34254271,  0.20058694,  0.26158481,  0.22533473, -0.33383185]])

In [63]:
data1 = pd.DataFrame(data1,columns =['Time','E_Plug','E_Heat','Price','Temperature'])

In [64]:
data1

        Time    E_Plug    E_Heat     Price  Temperature
0   0.014273  0.130110  0.203455  0.125186    -0.227613
1   0.028545  0.092162  0.232520  0.150223    -0.257961
2   0.042818  0.086740  0.247052  0.137705    -0.288309
3   0.042818  0.086740  0.247052  0.137705    -0.288309
4   0.057090  0.086740  0.239786  0.150223    -0.273135
5   0.071363  0.086740  0.217987  0.125186    -0.212438
6   0.085636  0.086740  0.225254  0.125186    -0.242787
7   0.099908  0.103004  0.203455  0.175260    -0.212438
8   0.114181  0.119268  0.210721  0.150223    -0.227613
9   0.128454  0.135532  0.188922  0.150223    -0.182090
10  0.142726  0.140953  0.174390  0.175260    -0.121393
11  0.156999  0.146374  0.145325  0.175260    -0.060697
12  0.171271  0.162638  0.138059  0.200298     0.000000
13  0.185544  0.162638  0.138059  0.200298     0.000000
14  0.199817  0.162638  0.094461  0.212816     0.030348
15  0.214089  0.146374  0.101727  0.212816     0.045523
16  0.228362  0.146374  0.116260  0.212816     0.030348
17  0.242634  0.151796 -0.029065  0.225335     0.000000
18  0.256907  0.178902  0.188922  0.250372    -0.091045
19  0.271180  0.227693  0.232520  0.262891    -0.121393
20  0.285452  0.650552  0.239786  0.262891    -0.182090
21  0.299725  0.254800  0.232520  0.262891    -0.242787
22  0.313997  0.238536  0.217987  0.275409    -0.273135
23  0.328270  0.195166  0.254319  0.262891    -0.288309
24  0.342543  0.200587  0.261585  0.225335    -0.333832

In [68]:
d = [2,5,12,13,15,32,41]
d.info()

AttributeError: 'list' object has no attribute 'info'

In [66]:
m = np.median(d)
m

13.0